<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Student Registrar</title>
  </head>
  <body>
    <h1>Student Registration</h1>
    <form action="/student" method="post">
      <p>Student Name: <input type="text" name="student[name]"></p>
      <p>Student Grade: <input type="text" name="student[grade]"></p>
      <button type="submit" value="submit">Submit</button>>
    </form>
  </body>
</html>
